h1{
  color: red ;
  text-align: center;
    border: 3px solid black;


}
div{
  background-color: orange;
  width: 200px;
  height: 200px;
  padding:20px;
  margin: 20px;
  font-style: italic;
  font-family: Arial;
  border: 3px solid black;
}
table{
  border: 3px solid black;
  border-collapse: collapse;
  font-size: 40px;
  padding:5px;


}
td,th{
  border: 3px solid black;
}
ol{
  font-size: 50px;
}
ul li{
  color: blue;
}
a{
  color:blue;
}
a[href="https://www.facebook.com/"]{
  color: red;
}
button{
  background-color: white;
  font-size: 24px;
  width: 150px;
  height: 70px;
}
button:hover{
  background-color: orange;
}
